# SPDX-FileCopyrightText: 2025 Weidmueller Interface GmbH & Co. KG <oss@weidmueller.com>
#
# SPDX-License-Identifier: MIT

[Unit]
Description=Just a simple dummy consumer
Wants=nats-server.service uc-hub.service
After=uc-hub.service uc-hub-auth.service hydra.service

[Service]
LoadCredentialEncrypted=u_os_hub_example_consumer:/etc/credstore.encrypted/u_os_hub_example_consumer.creds
ExecStart=/opt/u-os-hub-example-consumer --client-name u_os_hub_example_consumer --provider-id u_os_hub_example_provider --cred-file ${CREDENTIALS_DIRECTORY}/u_os_hub_example_consumer
DynamicUser=yes

[Install]
WantedBy=multi-user.target
